{{> _nav}}
<div class="popup">
    {{> _form-add}}
</div>

{{!-- Actual production code below --}}
{{#unless logged}}
    <div class="card-container">
            <div class="card">
                <div class="card--block title">{{article.title}}</div>
                <div class="card--block timestamp">{{article.dateCreated}}</div>
                <div class="card--block long">{{article.content}}</div>
                <div class="card--block socials">
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-telegram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
    </div>
{{/unless}}

{{#if logged}}
    <div class="card-container">
            <div class="card">
                <div class="card--block title">{{article.title}}</div>
                <div class="card--block timestamp">{{article.dateCreated}}</div>
                <div class="card--block long">{{article.content}}</div>
                <div class="card--block socials">
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-telegram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
                <div class="card--block">
                    <a href="" class="popupBtn">EDIT</a>
                    <div class="popup">
                        {{> _form-edit}}
                    </div>
                    <a href="" class="popupBtn">DELETE</a>
                    <div class="popup">
                        {{> _form-delete}}
                    </div>
                </div>
            </div>
    </div>
{{/if}}

{{> _footer}}
